@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
padding: 0;
margin: 0;
}

.reklama{
    background: #FFF957;

}
.reklama1{
    width: 90%;
    max-width: 1400px;
    display: grid;
    margin: auto;
    align-items: center;
    grid-template-columns: 100px auto 100px;
}
.reklama .reklama1 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.8px;
    text-align: right;
    
}
.reklama .reklama1 button{
    background: #242424;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.8px;
    text-align: right;
    color: #FFF957;
padding: 5px 10px;
border: none;
height:30px;
}
.reklama .reklama1 i{
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}
@media (max-width:991px) {
    .pust{
        display: none;
    }
    .reklama1{
        width: 90%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: auto 40px;
    }
}
@media(max-width:630px){
.reklama{
    display: none;
}
}


.nav1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 152px;
    justify-content: center;
    /* background-color: red; */
    gap: 20px;
}

.navbar1{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    max-width: 1400px;
    /* margin: auto; */
    width: 98%;
}

.navbar1 ul{
display: flex;
gap: 30px;
}
.navbar1 ul li{
    font-family: "Montserrat", sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
font-size: 14px;
font-weight: 600;
line-height: 20px;
text-align: center;

}
.navbar1 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar1 .navbar_but{
    height: 50px;
  
}
.navbar1 .icons{
    position: relative;
}
.navbar1 .number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #242424;
    color: white;
    width: 18px;
    font-size: 10px;
    height: 18px;
    border-radius: 50%;
}

@media(max-width:1378px ) and (min-width:991px){
    .navbar1 ul li{
        font-size: 12px;
        gap: 5px;
    } 
    .navbar1 .logo img{
        height: 30px;
    }
  
    .navbar1 ul{
        display: flex;
        gap: 10px;
        }
}
@media(max-width:1015px ) and (min-width:991px){
    .navbar1 .logo img{
        height: 30px;
    } 
}
@media(max-width:991px){
    .nav1{
        display: none;
    }
}