@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
padding: 0;
margin: 0;
}
body{
    padding-top: 150px;
}
.navbasrr{
    position: fixed;
    top: 0px;
    /* padding-bottom: 10px; */
    left: 0px;
    width: 100%;
    z-index: 9999;
  background-color: white;
}

.reklama{
    background: #FFF957;
height:30px;
display: flex;
align-items: center;
}
h2{
    margin-bottom: 0rem !important;
}
.reklama1{
    width: 90%;
    max-width: 1360px;
    display: grid;
    margin: auto;
    align-items: center;
    grid-template-columns: 100px auto 100px;
}
.reklama .reklama1 h2{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    /* line-height: 13.8px; */
    text-align: right;
    padding: 0px !important;
    margin: 0px !important;
    
}
.reklama .reklama1 button{
    background: #242424;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.8px;
    text-align: right;
    color: #FFF957;
/* padding: 5px 10px; */
border: none;
height:21px;
margin: 0px;
padding: 0pc;
}
.reklama .reklama1 i{
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}
@media (max-width:991px) {
    body{
        padding-top: 200px;
    }
    .pust{
        display: none;
    }
    .reklama1{
        width: 90%;
        max-width: 1360px;
        display: grid;
        grid-template-columns: auto 40px;
    }
}
@media(max-width:991px){
.reklama{
    display: none;
}
}


.nav1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 172px;
    justify-content: center;
    /* background-color: red; */
    gap: 20px;
}

.navbar1{
    display: grid;
    gap: 48px;
    grid-template-columns: 1.2fr 230px 1fr;
    max-width: 1400px;
    /* margin: auto; */
    width: 98%;
}

.navbar1 ul{
display: flex;
gap: 10px;
justify-content: space-between;
}
.navbar1 ul li{
    font-family: "Montserrat", sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 35px;
font-size: 14px;
font-weight: 600;
line-height: 20px;
text-align: center;
margin-top: 28px;
padding: 10px 4px;
}
.navbar1 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar1 .logo img{
 /* width: 90%; */
 /* margin-left: 5%; */
 height: 60px;
}

.nav1  .navbar_but{
    display: grid;
    height: 50px;
    width: 98%;
    align-items: center;
    max-width: 1360px;
    grid-template-columns: 114px 220px 2.5fr 187px  70px 170px;
    align-items: center;
    gap: 18px;

}


.nav1 .navbar_but .kol h4{
    font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 20px;
margin: 0px !important;
letter-spacing: 4px;
text-align: center;
color: #242424;
}
.nav1 .navbar_but .kol{
    display: flex;
    align-items: center !important;
    border: 1px solid #242424;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right:10px ;

}
.nav1 .navbar_but .search_inp{
    display: grid;
    grid-template-columns: 31px auto 20px;
    align-items: center;
    border: 1px solid #242424;
    height: 40px;
padding-left: 10px;
border-radius: 10px;
padding-right: 10px;
}
.nav1 .navbar_but .search_inp input{
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left; 
}
.nav1 .navbar_but .kol img{
width: 40px;
margin-left: 5%;
}
.nav1 .navbar_but button{
    width: 100%;
    background: #2E8AE6;
border-radius: 10px;
height: 40px ;
border: none;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
transition: 1s;
color: #FFFFFF;
}
.nav1 .navbar_but button:hover{
    background-color: #2e68a1;
}
.nav1 .navbar_but  h4{
    font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 20px;
text-align: center;

}
@media(max-width:1110px){
    .nav1 .navbar_but  h4{
        font-size: 10px;
    }
    .nav1  .navbar_but{
        display: grid;
        align-items: center;
        max-width: 1360px;
        grid-template-columns: 114px 1fr 2fr 1fr  50px 140px;
        align-items: center;
        gap: 20px;
    
    }
    .nav1 .navbar_but button{
        height: 30px;
        border-radius:5px;

    }
    .nav1 .navbar_but .search_inp {
      height: 30px;
      border-radius:5px;

    }
    .nav1 .navbar_but .kol{
        height: 30px;
        border-radius:5px;
    }
    .nav1 .navbar_but .kol h4{
        font-size: 10px;
    }
}
.navbar1 .icons{
    position: relative;
}
.navbar1 .number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #242424;
    color: white;
    width: 18px;
    font-size: 10px;
    height: 18px;
    border-radius: 50%;
}

@media(max-width:1378px ) and (min-width:991px){
    .navbar1 ul li{
        font-size: 12px;
        gap: 5px;
    } 
    /* .navbar1 .logo img{
        height: 30px;
    } */
  
    .navbar1 ul{
        display: flex;
        gap: 10px;
        }
}

.nav2{
    display: none;
    box-shadow: 0px 0px 3px black;
}
.nav2 .one{
    background: #F2F2F2;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav2 .one a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    color: black;
}
.nav2 .map_link p{
    border-bottom: 1px solid black;
    line-height: 15px;
    font-family: "Montserrat", sans-serif;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #242424;
margin-bottom: 0px;
}

.nav2 .one .contact h2{
    font-family: "Montserrat", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14.63px;
text-align: left;
margin-bottom: 0px;
}
.nav2 .one .contact p{
    font-family: "Montserrat", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
text-align: left;
margin-bottom: 0px;
}
.nav2 .one .contact i{
    font-family: "Montserrat", sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 14.63px;
text-align: left;
}
.navbar1 .iconlink img{
    height: 25px;

}
.navbar1 .iconlink{
    padding: 10px 4px;
    transition: 1s;
}
.navbar1 .iconlink:hover {
   background-color:rgba(128, 128, 128, 0.123);
   border-radius: 8px;
}
@media(max-width:1015px ) and (min-width:991px){
  
    .navbar1 .iconlink img{
        height: 24px;
    }
}
@media(max-width:991px){
    .nav1{
        display: none;
    }

    .nav2{
        display: block;
    }
}



.nav2 .two{
    display: flex;
    justify-content: space-between;
    width: 94%;
    height: 64px;
    gap: 30px;
    margin: auto;padding-top: 10px;
 padding-bottom: 10px;
    align-items: center;
}
.nav2 .two .logo{display: flex;
    max-width: 200px;
 width: 40%;
 min-width: 167px;
 
align-items: center;}
.nav2 .two .logo img{  width: 100%;}
.nav2 .two button{
    width: 40%;
    max-width: 250px;
    background: #2E8AE6;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.07px;
   color: white;
   height: 40px;
   border: none;
   border-radius: 8px;
    padding: 3px 5px;

}
.nav2 .two button img{
    position: relative;
    top: 0px;
    left: -8px;
    height: 11.72px;
}

.nav2 .three{
    width: 94%;
margin: auto;
border: 1px solid black;
border-radius: 10px;
/* height: 26px; */
padding-top: 12px;
padding-bottom: 12px;
display: grid;
grid-template-columns: auto 40px;
align-items: center;
}
.nav2 .three input{
    border: none;
    outline: none;
    padding-left:10px;
    font-family: "Jost", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
text-align: left;

}
.nav2 .three .bx-search{
font-size: 20px;
color: #242424a1;
cursor: pointer;
}
.nav2 .router{
    margin-left: 3%;
    /* margin-top: 10px; */
    border-radius: 6px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: center;
height: 40px;
/* margin-bottom: 10px; */
position: relative;
margin-top: 10px;
}
.routerclick{
    width: 100%;
    min-height:300px;
    padding-bottom: 20px;
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
   
}
.blackk{
    display: flex;
    justify-content: end;
    align-items: end;    
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.151);
    height: 100vh; 
    display: none;
}
.routic{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.closehead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.closehead input{
    width: 25px;
    height: 30px;
}
.bx-x{
    font-size: 25px;
}
.pagerout{
    display: flex;
    gap: 10px;
    width: 97%;
    max-width: 1360px;
    height: 40px;
    margin: auto;
    /* margin: auto; */
    align-items: center;
margin-top:53px !important;
}
.pagerout img{
width: 20px;
height: 20px;

}
.twobtn{
    display: flex;
    justify-content: space-around;
}
.twobtn button{
    padding: 5px 25px;
    border: none;
    border-radius: 6px;
    background-color: #FFF957;
}
.pagerout i{
font-size: 24px;
color: #808080;
font-weight: 400x;
}
.pagerout span{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    
}

.titlepage{
    display: flex;
    align-items: center ;
    max-width: 1360px;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
    width: 97%;
}
.titlepage h1{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 34.13px;
    text-align: left;
    color: black;
}
.titlepage p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
    color: #7D7D7D;
}

@media(max-width:991px){
    .pagerout{display: none;}
    .titlepage{
        display: none;
    }
}

.main_card{
    max-width: 1200px;margin-top: 24px;
}
.main_card .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
   
}
.card{
    margin: auto;
    width: 98%;
}
.main_card .cards .card1 {
    margin-bottom: 20px;
    width: 100%;
    /* background-color: rebeccapurple; */
    min-height: 450px;
}
@media (max-width:900px) {
    .main_card .cards .card1{
        min-height: auto !important;
    }
}
@media (max-width:600px) {
  /* .main_card .cards .card1 .swiper-slide img{
        height: 160px;
        width: auto;
    } */
    /* .main_card .cards .card1 .card_img img{
        width: 160px;
        height:160px ;
    } */
}
.main_card .cards .card1 .card_img{
    position: relative;
    width: 100%;
    margin-bottom: 10px;

}
.main_card .cards .card1 .card_img .novinki{
position: absolute;
top: 0px;
right: 20px;
display: flex;
justify-content: end;
z-index: 12;
align-items: end;
flex-direction: column;
}
.main_card .cards .card1 .card_img .novinki .one1{
    width: 72px;
    height: 20px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;   
    background: #62C752;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0px !important;
    line-height: 20px;
    /* display: flex; */
color: white;
text-align: center;
    
}
.main_card .cards .card1 .card_img .novinki .two2{
    width: 55px;
    height: 20px;   
    background: #7751DA;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: white;
}
@media (max-width:400px) {
    .main_card .cards .card1 .card_img .novinki .one1{
        width: 62px;
        height: 13px;
        gap: 0px;
        border-radius: 2px 0px 0px 0px;   
        background: #62C752;
        font-family: "Jost", sans-serif;
        font-size: 12px;
        font-weight: 600;
        margin: 0px !important;
        line-height: 14px;
        /* display: flex; */
    color: white;
    text-align: center;
        
    }
    .main_card .cards .card1 .card_img .novinki .two2{
        width: 47px;
        height: 15px;   
        background: #7751DA;
        font-family: "Jost", sans-serif;
        font-size: 10px;
        font-weight: 600;
        line-height: 14px;
        text-align: left;
        color: white;
    }
    .main_card .cards .card1 .card_img .novinki{
        position: absolute;
        top: -10px;
        right: 5px;
        display: flex;
        justify-content: end;
        z-index: 12;
        align-items: end;
        flex-direction: column;
        }
}
.main_card .cards .card1 .card_img .dinmic{
width: 32px ;
height: 32px;
display: flex;justify-content: center;
align-items: center;
border: 1px solid #D4D4D4;
position: absolute;
bottom:  20px;
left: 0px;
z-index: 123;
}
@media (max-width:400px) {
    .main_card .cards .card1 .card_img .dinmic{
        width: 24px ;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #D4D4D4;
        position: absolute;
        bottom:  20px;
        top: 112px;
        left: 0px;
        z-index: 123;
        }
}
.main_card .cards .card1 .card_img .dinmic img{
    width: 50%;
}
  .main_card  .swiper img{
    width: 100%;
    max-height: 257px;
  }
  .main_card  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_card  .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }
  .main_card  .swiper-slide img:hover {
    scale: 1.2;
    cursor: pointer;
  }
  .main_card .cards .card1 .bxs-star{
    color: #D4D4D4;
margin-bottom: 3px;
  } 
  @media (max-width:400px) {
    .main_card .cards .card1 .bxs-star{
        font-size: 10px;
        position: relative;
        top: -10px;
        color: #D4D4D4;
    margin-bottom: 3px;
      } 
  }
  .main_card .cards .card1 h4{
    font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
color: #363636;
  }
  @media (max-width:400px) {
    .main_card .cards .card1 h4{
        font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.07px;
        margin-top: 5px;
    text-align: left;
    color: #363636;
    position: relative;
    top: -13px;
    left: 1px;
      }
  }
  .main_card .cards .card1 .mySwiper{
    width: 275px;
  }
  @media(max-width:638px){
    .main_card .cards .card1 .mySwiper{
        width: 250px;
      }
  }
  @media(max-width:585px){
    .main_card .cards .card1 .mySwiper{
        width: 200px;
      }
      .main_card .cards .card1{
        height: auto !important;
        margin-bottom: 12px;
        margin-top: 11px;
      }
  }
  @media(max-width:465px){
    .main_card .cards .card_img{
        /* min-height: 160px; */
        height: 143px;
    }
    .main_card .cards{
        width: 100%;
        margin-top: -3px !important;
        /* margin-top: 10px; */
    }
    .main_card{
        width: 98% !important; 
    }
    .main_card .cards .card1 .mySwiper{
        width: 150px;
      }
  }
  @media(max-width:345px){
    .main_card .cards .card1 .mySwiper{
        width: 130px;
      }
      .main_card .cards .card_img{
        min-height: auto;
        min-height: 140px;
    }
  }
  .main_card .cards .card1 .dostup{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .main_card .cards .card1 .circle{
    background: #5FCC77;
width: 11px;
height: 11px;
border-radius: 50%;
  }
  .main_card .cards .card1 .dostup h3{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
color: #5FCC77;    
  }
  @media (max-width:400px) {
    .main_card .cards .card1 .dostup h3{
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 17.07px;
        text-align: left;
    color: #5FCC77;    
    position: relative;
    right: 10px;
      }
      .main_card .cards .card1 .circle{
        background: #5FCC77;
    width: 9px;
    height: 9px;
    border-radius: 50%;
      }
      .main_card .cards .card1 .dostup{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: -21px;
        margin-bottom: 0px;
      }
  }
  .main_card .cards .card1 img{
width: 88%;
  }
  .main_card .cards .card1 .price{
    text-align: center;
    font-family: "Montserrat", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 29.26px;
margin-top: 5px;
margin-right: 2px;
  }
  .main_card .cards .card1 .del_price{
display: flex;
gap: 10px;
align-items: center;
color: grey;
justify-content: center;

  }
  .main_card .cards .card1 .del_price del{
    font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
  }
  .main_card .cards .card1 .del_price span{
    font-family: "Montserrat", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
color: #EC5D5D;
  }
  .main_card .cards .card1 button{
    width: 90%;
    border: none;
    margin-top: 20px;
    height: 35px;background: #FFF957;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 6px;
    line-height: 14.63px;
color: #242424;  
display: none;  
transition: 1s;
  }
  .main_card .cards .card1 button:hover{
    background: #b3af53;
    cursor: pointer;

  }
  .main_card .cards .card1:hover button{
    display: block;
    cursor: pointer;


  }
  @media (max-width:991px){
    .main_card .cards .card1 button{
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 20px
    }
  }
  @media (max-width:400px){
    .main_card .cards .card1 button{
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 7px;
        margin-right: 10px;
    }
    .main_card .cards .card1 .del_price del{
        font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
      }
      .main_card .cards .card1 .del_price span{
        font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #EC5D5D;
      }
      .main_card .cards .card1 .del_price{
        display: flex;
        gap: 15px;
        align-items: center;
        color: grey;
        justify-content: center;
        margin-top: -2px;
        margin-left: -6px;

          }
  }
  .swiper-pagination-bullet-active{
    border-radius: 0px !important;
    transform: rotate(45deg) !important;
    background: #242424 !important;

  }



  .footer-1{
    width: 98%;
    max-width: 1360px;
    margin: auto;
  }
  .footer-1 h1{
    font-family: "Montserrat", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 20.7px;
letter-spacing: 0.5px;
text-align: center;
margin-bottom: 30px;
margin-top: 30px;
  }
  .footer-1 .buttons{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
  }
  .footer-1 .buttons button{
    background: #F2F2F2;
border: none;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: left;
padding: 10px;
margin-bottom: 10px;
border-radius: 8px;
margin-right: 5px;
  }
  
  .footer-1 .cards2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .footer-1 .cards2 .card2{
    display: grid;
    grid-template-columns: 150px auto;
  }  
  .footer-1 .cards2 .card2 img{
    width: 100%;
    border-radius: 10px;

  }
  .footer-1 .cards2 .card2:hover{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 10px;
    cursor: pointer;

  }

  .footer-1 .cards2 .card2 .card2_text{
    display: flex;flex-direction: column;
    justify-content: space-around;
  }
  .footer-1 .cards2 .card2 .card2_text p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
color: #363636;    
  }
.footer-1 .cards2 .card2 .card2_text h3{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    margin-top: -40px;
color: #242424;    
  }
  .footer-1 .cards2 .card2 .card2_text del{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
    color: #DE6060;
}
.footer-1 .section1{
    width: 100%;
}
.footer-1 .h31{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.5px;
    text-align: center; 
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-1 .accordion{
    max-width: 900px;
    margin: auto;

}
.footer-1 .accordion-button {
    padding: 0px !important;
    padding: 0px 14px !important;
    outline: none !important;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;      
}
.body_ichi .accordion{
border: none !important;
box-shadow: none !important;
--bs-accordion-border-color:white !important;
}
.body_ichi .accordion-button{
padding: 7px !important;
 
    }
 
.body_ichi h3{
margin-bottom: 0px !important;
}
@media (max-width:1200px) {
    .footer-1 .cards2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
}
@media (max-width:991px) {
  .section1{
    display: none;
  }
  .footer-1 .h31{
    font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 36px;
text-align: center;

  }
}
@media (max-width:900px) {
    .footer-1 .cards2{
        display: grid;
        grid-template-columns: 1fr 1fr ;
      }
}
@media (max-width:590px) {
    .footer-1 .cards2{
        display: grid;
        grid-template-columns: 1fr ;
      }
}
/* @media(max-width:460px){
    .footer-1 .cards2 .card2{
        display: grid;
        grid-template-columns: 100px auto;
      }
} */

.filter_page{
    display: none;
    width: 100%;
padding-bottom: 20px;
background-color: white;
position: fixed;
z-index: 12123123;
top: 0px;
height: 100vh;
left: 0px;
overflow-y:scroll;
}
.filter_page .title2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 47px;
}
.filter_page .title2 h2{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    /* line-height: 17.07px; */
    text-align: left;
    padding: 0px;
margin: 0px;
}
.filter_page .title2  .bx-x{
font-size: 23px;
}
.filter_page .title2 a{
    text-decoration: none;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
/* line-height: 17.07px; */
text-align: left;
color: #2E8AE6;
}
.filter_page .search {
margin-top: 6px;
margin-bottom: 6px;
    display: grid;
    grid-template-columns: auto 30px;
    align-items: center;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 45px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
}
.filter_page .search input{
    outline: none;
    border: none;
    font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
text-align: left;
color: #757575;
}
.filter_page .razdel1 {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 10px;
    /* padding-left: 20px; */
}
.filter_page .razdel1  button{
 
    height: 34px;

    background: #F2F2F2;
margin-bottom: 20px;
text-wrap: nowrap;
padding:0px 20px;
border-radius: 8px;
border: none;
}
.hovg li{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    transition: 1s;
    cursor: pointer;

}
.hovg li:hover{
    background-color: rgba(128, 128, 128, 0.123);
    cursor: pointer;

}
.num7:hover{
    background-color: rgba(128, 128, 128, 0.123);
    cursor: pointer;

}
.num7{
    padding-left:3px;
    padding-right: 3px;
    border-radius: 6px;
    transition: 1s;
    cursor: pointer;
}
.ulsp span{
    font-size: 12px;
    font-weight: 500 !important;
    cursor: pointer;
}
.widthto{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: none;
    color: #2E8AE6;
    font-weight: 700;
}
.page_road1{
    width:90%;
    max-width:300px ;
    height: 40px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.son1{
    /* width: 40px;
    height: 40px; */
    border-bottom: 2px solid white;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;


    width: Fill (40px)px;
height: Hug (36px)px;
padding: 6px 17.05px 6px 17.03px;
gap: 0px;
opacity: 0px;

}
.son1:hover{
    border-bottom: 2px solid #2E8AE6;
    cursor: pointer;
}
.son2{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width:990px) {
    .widthto{
        display: none;
    }
}

@media (max-width:540px) {
    .qoshimcha{
        display: none;
    }
}
.star1{
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 2px;
}