#top{
    margin-top: -15px;
}
#topt{
    /* margin-top: 5px; */
}
#topn a{
    margin-top: 30px !important;
}
.hand_rings .hands_all .rings_item .four_img {
    background-color: #F1F1F1;
    height: 470px;
    margin-top: -20px;
    border-radius: 16px;
}
#ringtop a{
    margin-top: 20px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
font-weight: 200 !important;
font-family: "Montserrat", sans-serif;

}
#oneback{
    /* margin-bottom: 40px; */
    background-color: #F1F1F1 ;
    border-radius: 16px;
/* height: 250px; */
}
#oneback1{
    margin-bottom: 30px;
    background-color: #F1F1F1;
    border-radius: 16px;
height: 220px;
margin-top: -30px;
    /* width: 500px; */

}
#oneback h1{
    font-weight: 100;
    font-size: 24px;
}
#oneback1 h1{
    font-weight: 100;
    font-size: 24px;
}
#oneback1 img{
    width: 60%;
    margin-top: 5px;
}
#marlef{
    margin-left: 20px;
}
#preprin{
    background-color:#F1F1F1;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.kolea{
    position: absolute;
    top: 0px;
    left: 0px;
}
#min{
    margin-top: -20px;
}
.payment_item{
    margin-top: 10px;
}
.payment_type .payments_all .payment_item{
    position: relative;
}
.payment_type .payments_all .payment_item:hover {
    position: relative;
  }
  .payment_type .payments_all .payment_item:hover .ring {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    /* background-color: red; */
    transform: rotate(130deg);
  }
  .payment_type .payments_all .payment_item {
    width: calc(33.333% - 8px);
    flex: 0 0 auto;
    display: flex;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(36, 36, 36, 0.1);
    position: relative;
    max-width: 469px;
    overflow: hidden;
    height: 228px;
  }


  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item {
      height: 170px;
    }
  }
  .payment_type .payments_all .payment_item:hover {
    position: relative;
  }
  .payment_type .payments_all .payment_item:hover .ring {
    position: absolute;
    top: 0;
    right: 70%;
    transform: rotate(130deg);
  }
  @media (max-width: 1440px) {
    .payment_type .payments_all .payment_item:hover .ring {
      top: 17%;
      right: 63%;
      z-index: 3;
      transition: 1s all ease;
      transform: rotate(145deg);
    }
  }
  @media (max-width: 1200px) {
    .payment_type .payments_all .payment_item:hover .ring {
      top: 18%;
      right: 56%;
    }
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item:hover .ring {
      top: 20%;
      right: 61%;
    }
  }
  .payment_type .payments_all .payment_item:hover .payment_image {
    transform: rotate(-10deg);
  }
  .payment_type .payments_all .payment_item:hover .payment_image img {
    filter: grayscale(0);
  }
  .payment_type .payments_all .payment_item:hover .payment_image2 img {
    transform: rotate(350deg);
    filter: grayscale(0);
  }
  .payment_type .payments_all .payment_item:hover .payment_image3 {
    position: relative;
  }
  .payment_type .payments_all .payment_item:hover .payment_image3 .almaz_card2 {
    position: absolute;
    top: 95px;
    left: 94px;
    z-index: 1;
    transform: rotate(326deg);
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item:hover .payment_image3 .almaz_card2 {
      top: 79px;
      left: 82px;
      transform: rotate(333deg);
    }
  }
  .payment_type .payments_all .payment_item:hover .payment_image3 .shar img {
    filter: grayscale(0);
  }
  .payment_type .payments_all .payment_item .ring {
    position: absolute;
    top: -15%;
    right: -20%;
    z-index: 3;
    transition: 1s all ease;
    transform: rotate(0);
  }
  .payment_type .payments_all .payment_item .ring img {
    width: 40px;
    height: 25px;
  }
  .payment_type .payments_all .payment_item .payment_image {
    transition: 1s all ease;
    position: relative;
    bottom: -10px;
  }
  .payment_type .payments_all .payment_item .payment_image img {
    transform: rotateY(181deg);
    width: 200px;
    height: 230px;
    z-index: 3;
    filter: grayscale(1);
    transition: 0.3s all ease;
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image img {
      width: 124px;
      height: 173px;
    }
  }
  .payment_type .payments_all .payment_item .payment_text {
    position: absolute;
    color: #242424;
    font-size: 38px;
    font-weight: 600;
    line-height: 115%; /* 43.7px */
    text-transform: uppercase;
    text-align: right;
    top: 15px;
    right: 32px;
  }
  @media (max-width: 1200px) {
    .payment_type .payments_all .payment_item .payment_text {
      font-size: 29px;
      right: 8px;
    }
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_text {
      font-size: 20px;
    }
  }
  .payment_type .payments_all .payment_item .payment_image2 {
    position: relative;
    bottom: 0px;
    /* top: 21px; */
    left: -73px;
    background-color: red;
    /* transform: rotateY(180deg); */
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image2 {
      bottom: -45px;
      left: -87px;
    }
  }
  .payment_type .payments_all .payment_item .payment_image2 img {
    transform: rotate(340deg);
    transition: 1s all ease;
    filter: grayscale(1);
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image2 img {
      width: 68%;
    }
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image2 img {
      width: 73%;
    }
  }
  .payment_type .payments_all .payment_item .payment_image3 {
    position: relative;
  }
  .payment_type .payments_all .payment_item .payment_image3 .shar img {
    transition: 1s all ease;
    position: relative;
    bottom: -10px;
    filter: grayscale(1);
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image3 .shar img {
      width: 73%;
    }
  }
  .payment_type .payments_all .payment_item .payment_image3 .almaz_card {
    position: absolute;
    top: 114px;
    left: 100px;
    z-index: 1;
    transform: rotate(345deg);
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image3 .almaz_card img {
      width: 100%;
    }
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image3 .almaz_card {
      top: 96px;
      left: 82px;
    }
  }
  .payment_type .payments_all .payment_item .payment_image3 .almaz_card2 {
    position: absolute;
    top: 114px;
    left: 100px;
    z-index: 1;
    transform: rotate(345deg);
    transition: 1s all ease;
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image3 .almaz_card2 img {
      width: 100%;
    }
  }
  @media (max-width: 1024px) {
    .payment_type .payments_all .payment_item .payment_image3 .almaz_card2 {
      top: 96px;
      left: 82px;
    }
  }
  .section_title h5 a{
font-size: 17px;
  }
  .news_items .new_item .item_about a {
  font-family: "Montserrat", sans-serif;

  }